

body {
    border: solid black 0.4rem;
    background-image: url(../img/BG.png);
}

  header {
    background-color: #00138C;
    color: white;
    text-transform: uppercase;
    border-bottom: solid 0.4rem black;
    text-align: end;
  }

  .skip {
    display: block;
    width: 100%;
    background-color: #00138C;
    color: #00138C;
    font-family: 'PT Sans', sans-serif;
    font-size: small;
    height: 0;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    text-align: center;
    font-family: 'Days One', sans-serif;
  }

  .h2 {
    border-bottom: solid 0.4rem;
    padding: 1rem;
  }

  
  span {
    display: block;
  }

  .title__welcome {
    color: #B5FD1D;
    font-size:3rem;
  }

  .title__site {
    font-size:x-small;
  }

  .title__job {
    color: #FCB8FF;
    font-size: small;
  }

  
  .profil__image {
    width: 10rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: black solid 0.4rem;

  }

  .hand {
    width: 10rem;
    position: relative;
    bottom: 3rem;
    left: -10rem;
  }

  .hand2 {
    display: none;
  }



  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    
  }

  .nav {
    border-top: black solid 0.4rem;
    border-bottom: black solid 0.4rem;;
    font-family: 'Russo One', sans-serif;
    width: 33%;
    border-right: solid 0.4rem;
    margin-right: 0.4rem;
  }


  a {
    color: black;
  }

  ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  }

  .list {
    padding: 1rem;
    text-align: center;
    background-color: #FFFFFF70;
  }

  .list:hover {
    background-color: #B5FD1D70;
  }

  .list__white {
    background-color: #B5FD1D70;
    padding: 1rem;
text-align: center;
  }

  .list__white:hover {
    background-color: #FFFFFF70;
  }


  .main {
    min-width: 1rem;
    width: 67%
    }

    .profil {
      border-bottom: solid black 0.4rem;
      border-left: black solid 0.4rem;
      }
  
  p{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 1rem;
    font-size: larger;
    background-color: #FCB8FF70;
    line-height: initial;
  }

  .main__icon {
    width: 4rem;
    display: block;
    margin: auto;
    padding: 1rem;
  }



.cta img {
  position: relative;
  bottom: 3rem;
  right: 5rem;
  width: 14rem;
}
  

  .cards {
    text-align: center;
    }

  .competences {
    font-family: 'PT Sans', sans-serif;
    font-size: larger;
    line-height: initial;
    background: #FCB8FF70;
    margin: 1rem;
    border: solid 0.4rem;
    padding-bottom: 1rem;
    margin-left: 0;
  }

  .competences img {
    width: 10rem;
  }

  .competences li {
    font-weight: bold;
  }

  .competences a {
    font-weight: bold;
  }

  .p__portfolio {

    background-color: unset;
  }

  .screenshot {
    margin-top: 1rem;
    border: solid black 0.4rem;
  }
  .link__portfolio{
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem;
  }
  .link__portfolio:hover {
    color: #00138C;
    background-color: #ffffff70;

  }

  .github__logo {
    border: none;
    margin-top: 1rem;
  }

  .container__footer {
    align-content: center;
    justify-content: space-evenly;
      display: flex;
      flex-flow: row;
      align-items: center;
      margin: 1rem;
  }
  .footer { 

    background-color: #00138C;
    border-top: black solid 0.4rem;;
    color: #B5FD1D;
    padding-top: 1rem;
  }

  .footer li {
    display: inline;

  }


   .footer__mail {
    text-align: center;
    }

    .footer__phone {
    text-align: center;
    }

    .footer__follow {
    text-align: center;
    }

    .footer__icon {
      width: 2rem;
      margin: 0.5rem;
      filter: invert(96%) sepia(61%) saturate(2%) hue-rotate(314deg) brightness(105%) contrast(101%);
    }

    @media (min-width: 1024px) {
      .main {
        margin: 5rem;
        }
        main {
        border-left: 0;
        }
        .profil {
          border: black solid 0.4rem;
          }
        .nav {
          margin: 5rem;
          border: solid 0.4rem;
          }

          .cta img {
            right: 8rem;
            width: 30rem;
            }
            .hand {
              bottom: 10rem;
              left: -20rem;
            }
            .hand2{
              display: unset;
              width: 10rem;
              position: absolute;
              top: 30rem;
            left: 17rem;
            }


        .container__header {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          align-content: center;
          justify-content: space-evenly;
        }
        footer{
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          align-content: center;
          justify-content: center;
        }
        .footer__mail {
          margin-right: 2rem;
          }
      }
    
      @media (min-width: 1280px) {
        .container {
          margin-left: 20rem;
          margin-right: 20rem;
          }
          .main {            
            min-width: 30rem;
            }
      }


      .dark {
        background-image: url(../img/BGdark.png);
        
      }
      .dark a,
      .dark li {
        color: white;
      }
      .dark .cta,
      .dark .hand,
      .dark .hand2{
        filter: invert(96%) sepia(61%) saturate(2%) hue-rotate(314deg) brightness(105%) contrast(101%);
      }

      .dark p,
      .dark h2,
      .dark h3 {
        color: white;
      }
      .dark .h2{
        border-bottom: solid black 0.4rem;
      }
      .dark .skip {
        display: block;
        width: 100%;
        background-color: #00138C;
        color: #00138C;
        font-family: 'PT Sans', sans-serif;
        font-size: small;
        height: 0;
      }

      #darkTrigger {
        background: #00138C;
        border-radius: 1rem;
        display: inline;
        margin: 0.5rem;
        display: inline;
        vertical-align: middle;
       }
       #darkTrigger img {
       width: 2rem;
       }
       .theme p {
        text-transform: unset;
        padding: 0;
        font-size: x-small;
        background-color: unset;
        line-height: unset;
        display: inline;
        vertical-align: middle;
        }
  

