body {
    border: solid black 0.2rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;


  }
  
  header { 
    grid-area: 1 / 1 / 2 / 3;
    background-color: #0123FF;
    color: white;
    text-transform: uppercase;
    font-family: 'Days One', sans-serif;
    text-align: center;
    border-bottom: solid black 0.2rem;
  }

  h1 {
    margin: 0;
  }

  span {
    display: block;
  }

  .title__welcome {
    color: #B5FD1D;
    font-size:3rem;
  }

  .title__site {
    font-size:x-small;
  }

  .title__job {
    color: #FCB8FF;
    font-size: small;
  }



  .nav {
    grid-area: 2 / 1 / 3 / 2;
    border-right: solid;
    border-left: solid;
    font-family: 'Russo One', sans-serif;
    background-color: #B5FD1D;
    margin-left: 2rem;
  }

  a {
    color: black;
  }

  ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  }

  li {
    padding: 1rem;
  }

  .list__white {
    background-color: white;
  }
   
  
  .main {
     grid-area: 2 / 2 / 3 / 3;
   }